:root{
    --blanco:whitesmoke;
    --azul-psg: #151e2d;
    --rojo-psg: #ff1541;
    --botones-color: #103977;
    --home-color: #AAA492;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: var(--azul-psg);
}
html{
    font-size: 62.5%;
    font-family: 'Inria Serif';
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;    
    height: auto;
}
header .title__cards{
    font-size: 4rem;
    font-weight: bold;
    color:var(--blanco);
    margin-top: 20px;
    text-align: center;
}
header .subtitle__cards{
    color:var(--blanco);
    font-size: 2rem;
    margin-top: 15px;
}
.container__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.home{
    position: relative;
    top: 20px;
    font-size: 15px;
    color: var(--home-color);
    
}
.logo-psg {
    margin: 20px;
    width:60px;
    height:60px;
}
/* main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:20px ;
}
.mark_name{
    color: var(--blanco);
    font-size: 2.5rem;
    font-weight:500 ;
    font-family: 'Inria Serif';
    text-decoration: underline var(--rojo-psg);
}
.container__Buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 290px;
    margin-top: 40px;
}
a{
    text-decoration: none;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 52px;
    border-radius: 10px;
    background: var(--botones-color);
    color: var(--blanco);
    font-size: 20px;
    text-align: center;
    margin: 10px 0;
    border: none;
}
.button:hover{
    background: var(--blanco);
    color: var(--botones-color);

}

/* women's team */
.container__team{
    width: 100%;
    height: 260px;
    margin-top: 40px;
}
.container__imgplayer {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;

}
.name__player{
    position: relative;
    top: 5px;
    left: 30px;
    width: 150px;
    height: 30px;
    background:var(--botones-color);
    color:var(--blanco);
    font-size: 1.2rem;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
}
.container__imgplayer figcaption{
    margin: 0 5px;
    scroll-snap-align: center;
}
.container__imgplayer img{
    width: 210px;
    height: 200px;
    background: var(--blanco);
    border-radius: 10px;
}
/* Biography */
.title_biography{
    text-align: center;
    padding-block-start: 50px;
    font-size: 2.5rem;
    color: var(--blanco)
}
.container_biography{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    width: auto;
    height: 500px;
}
.container_biography .escudo{
    position: absolute;
    width: 300px;
    height: 300px;
    opacity: 0.02;
    margin-block-start: 20px;
}
.back{
    margin-block-start: 10px;
    color: var(--home-color);
    font-size: 1.3rem;
}
#imgplayer{
    margin-top: 70px;
    width: 200px;
    height: 200px;
}
.biography_player{
    position: relative;
    top: 60px;
    left:-30px;
    width: auto;
}
.info{
    text-align: start;
    font-size: 1.2rem;
    margin: 5px 0;
    color: var(--home-color);
}


/* footer */
.footer__networks{
    width: 100%;
    height: 210px;
    background: var(--blanco);
    margin-top: 40px;
}
.about__page{
    position: relative;
    top: 30px;
    color:var(--azul-psg);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Inria Serif';
    width: 100%;
    height:100px;   
    margin-top:40px ;
}
.text2{
    margin-top: 30px;
}
.container__socialmedia{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 40px;
}
.logos{
    width:50px;
    height:50px;
}


