*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: whitesmoke;
}
html{
    font-size: 62.5%;
    font-family: 'Arimo', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 10px #151e2d;
    width: auto;    
    height: 120px;
}
header .title__cards{
    /*font-size: 6rem;*/
    font-size: 2.5rem;
    color:#151e2d;
    
}
header .subtitle__cards{
    /*font-size: 3rem;*/
    color:#151e2d;
    font-size: 2rem;
}
.name__P{
    color: #151e2d;
}
.name__S{
    color:#ff1541;
}
.name__G{
    color:#151e2d;
}
.logo-psg {
    margin-top: 5px;
    width:40px;
    height: 40px;
}
.team_psg{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: auto;
}
.team_psg .continer__card{
    /*box-shadow: 0 1px 10px #151e2d;*/
    border-radius: 10px;
    width: auto;
    
}
.team_psg .continer__card .card__player{
    display: flex;
    justify-content: center;
    align-items: center;
}
.continer__card .card__player .photo__player figure{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.continer__card .card__player .photo__player figure img{
    width: 310px;
    height:310px;
}
.name__player{
    font-size: 2rem;
    color:#151e2d;
    margin-bottom: 20px;
}
.mark_name{
    font-weight: 600;
    border-bottom: 2px solid #ff1541;
}
.card__skill{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card__skill .skill__player{
    background-color:#151e2d;
    color: white;
    font-size: 1.8rem;
}
.title__position{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.carac_player {
    color: darkgrey;
}